/* apply a natural box layout model to all elements */


.inner {
  width: 800px;
  position: relative;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  padding-top: 20px;
  background: #C9C8C5;
  transition: 0.7s all;
  z-index: 100;
}


body.header-fixed header {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 0;
  width: 100%;
  z-index: 2;
}

li {
  list-style: none;
}


nav ul {
  float: right;
}

nav li {
  display: inline;
  float: left;
}

nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 25px;
  transition: 0.3s all;
  font-family: 'Amatica SC', cursive;
}

section .inner {
  padding-top: 200px;
}



 #logo {
    background: url("http://res.cloudinary.com/charhagelin/image/upload/v1489293707/logo_hello_sl7e41.png")no-repeat center;
    height: 100%;
    width: 100%;
    padding-bottom: 800px;
    min-width: 100%;
    min-height: 100%;

}

//  #triangle {
//   background: url("images/delad_triangel.jpg")no-repeat center;
//   height: 100%;
//   width: 100%;
//   padding-top: 800px;
//   min-width: 100%;
//   min-height: 100%;
// }
#section_about h1 {
  padding-top: 100px;
  text-align: center;
  font-family: 'Amatica SC', cursive;

}
.section_about h1 {
  padding-top: 100px;
  text-align: center;
  font-family: 'Amatica SC', cursive;
}

.section_about p {
  padding-bottom: 100px;
  line-height: 280%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}

.item {
  text-align: center;
  width: auto;
  height: 500px;
}
#carousel-example-generic {
  margin-bottom: 50px;
}
// .snippits {
//   background: url("images/snippit_work.jpg") no-repeat center;
//   height: 100%;
//   width: 100%;
//   padding-top: 600px;
// }
// #######

#poly-container {
  margin-left: 8%;
  margin-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
}


#poly-container a{width: 200px; height: 200px; background-color: blue;
  display: inline-block;
  margin: -22px 3px;

  // background-image: url(images/code1.jpg);
  -webkit-clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  ); }
  .projectsT {width: 200px; height: 200px; background-color: grey;
    display: inline-block;
    margin: -22px 0px;;
    margin-left: 3%;
    background-image: url("http://res.cloudinary.com/charhagelin/image/upload/v1489293779/zengarden_wkoedz.jpg");
    -webkit-clip-path: polygon(
      50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
    );
  // clip-path: url('#c1');
}

#poly-container a {background-color: grey;}
#poly-container a:nth-child(2) {background-color: grey;background-image: url("http://res.cloudinary.com/charhagelin/image/upload/v1489293683/code1_jizmca.jpg")}
#poly-container a:nth-child(3) {background-color: grey; }
#poly-container a:nth-child(4) {background-color: purple; background-image: url("http://res.cloudinary.com/charhagelin/image/upload/v1489293701/grav_hcuz6j.jpg");}
#poly-container a:nth-child(5) {background-color: purple; background-image: url("http://res.cloudinary.com/charhagelin/image/upload/v1489293684/code3_rd3sli.jpg");}
// a:nth-of-type(6n) {background-color: grey;}
#poly-container a:nth-child(6) {background-color: orange; background-image: url("http://res.cloudinary.com/charhagelin/image/upload/v1489293710/monitor_crluyr.jpg");}
#poly-container a:nth-child(7) {background-color: orange; background-image: url("http://res.cloudinary.com/charhagelin/image/upload/v1489293710/monitor_crluyr.jpg"); margin-left: 7.5%;}
#poly-container a:nth-child(8) {background-color: grey; }
#poly-container a:nth-child(9) {background-color: yellow; background-image: url("http://res.cloudinary.com/charhagelin/image/upload/v1489293683/code2_um6zmf.jpg");}
#poly-container a:nth-child(10) {background-color: grey;background-image: url(images/shebeen.jpg);}
#poly-container a:nth-child(11) {background-color: grey;}
#poly-container a:nth-child(12) {background-color: grey; background-image: url("http://res.cloudinary.com/charhagelin/image/upload/v1489293683/code2_um6zmf.jpg");}
// div.projects:nth-of-type(13n) {background-color: grey; }



#poly-container a:nth-of-type(6n) ~ div {
-webkit-transform:  translateX(62.5px);
transform:  translateX(62.5px);

}


section {width:1400px;}


// ##########
.section_projects {
  background: url("http://res.cloudinary.com/charhagelin/image/upload/v1489293761/timmglas_idrwsb.jpg") no-repeat center;
  height: 100%;
  width: 100%;
  padding-top: 900px;
  // margin-top: -100px;
  padding-bottom: 10px;
}
.skills {
  background: url("http://res.cloudinary.com/charhagelin/image/upload/v1489293753/skill_level_qvhrjd.png") no-repeat center;
  padding-top: 500px;
}


#github {
  margin-top: -280%;
  margin-left: 15%;
}
#linkedin {
  margin-top: -250%;
  margin-left: 38%;

}
#behance {
  margin-top: -219%;
  margin-left: 60%;

}

#text p {

  font-family: 'Amatica SC', cursive;
  font-size: 24px;
  text-align: center;
  margin-top: -500px;
  padding-bottom: 300px;
  font-size: 40px;
}

.contact h1 {
  font-family: 'Amatica SC', cursive;
}

.contact p {
  font-family: 'Quicksand', sans-serif;
}

a:link {
  text-decoration: none;
  color: black;
  font-family: 'Quicksand', sans-serif;
}
